@font-face {
  font-family: "ibm mono bold";
  src: url("/fonts/ibmplexmono-bold-webfont.woff2") format("woff2"),
    url("/fonts/ibmplexmono-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "body_mono_bold_italic";
  src: url("/fonts/ibmplexmono-bolditalic-webfont.woff2") format("woff2"),
    url("/fonts/ibmplexmono-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm mono italic";
  src: url("/fonts/ibmplexmono-italic-webfont.woff2") format("woff2"),
    url("/fonts/ibmplexmono-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm mono bold italic";
  src: url("/fonts/ibmplexmono-bolditalic-webfont.woff2") format("woff2"),
    url("/fonts/ibmplexmono-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm mono extra light";
  src: url("/fonts/ibmplexmono-extralight-webfont.woff2") format("woff2"),
    url("/fonts/ibmplexmono-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm mono extra light italic";
  src: url("/fonts/ibmplexmono-extralightitalic-webfont.woff2") format("woff2"),
    url("/fonts/ibmplexmono-extralightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm mono semibold";
  src: url("/fonts/ibmplexmono-semibold-webfont.woff2") format("woff2"),
    url("/fonts/ibmplexmono-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm bold";
  src: url("/fonts/ibmplexsans-bold-webfont.woff2") format("woff2"),
    url("/fonts/ibmplexsans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm condensed medium";
  src: url("/fonts/ibmplexsanscond-medium-webfont.woff2") format("woff2"),
    url("/fonts/ibmplexsanscond-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "micro bold";
  src: url("/fonts/MicroTechnic/micro-bold-webfont.woff2") format("woff2"),
    url("/fonts/MicroTechnic/micro-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
